@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,500;0,600;0,700;1,400&display=swap');
$tipografia: 'Montserrat', sans-serif;

$rojo: #FF385C;
$rojo-oscuro: #CC2D4A;
$rojo-violeta: #ff003c;
$naranja: #D93B30;
$violeta: #BC1A6E;
$blanco: #FFFFFF;
$gris-suave: #FBFBFB;
$gris-comun: #8A8A8A;
$gris-palido: #f2f2f2;
$gris-medio: #D0D0D0;
$gris-semioscuro: #424242;
$gris-oscuro: #313131;
$negro: #232323;
